flows.json
[{"id":"6bdb0b94.d6baa4","type":"function","z":"6915fc32.547964","name":"sql query","func":"if(msg.payload.table!==undefined){\n    if(msg.payload.count!==undefined){\n        msg.topic=\"SELECT count(*) as count FROM \"+ msg.payload.table;\n        return msg;\n    } else if(msg.payload.schema!==undefined){\n        msg.topic=\"PRAGMA table_info(\"+ msg.payload.table+\")\";\n        return msg;        \n    } else if((msg.payload.limit!==undefined)&&(msg.payload.offset!==undefined)){\n        msg.topic=  \"SELECT ROWID, * FROM \"+ \n                    msg.payload.table+\n                    \" ORDER BY ROWID\"+\n                    \" LIMIT \"+msg.payload.limit+\n                    \" OFFSET \"+msg.payload.offset;\n        return msg;        \n    }else {\n        msg.topic=\"SELECT * FROM \"+ msg.payload.table;\n        return msg;\n    }\n}\nif((msg.payload.query!==undefined)&&(msg.payload.type!==undefined)){\n    msg.topic=msg.payload.query;\n    msg.type=msg.payload.type;\n    if(msg.type==='run'||msg.type==='get'||msg.type==='free' || msg.type==='step' ){\n        msg.hd=msg.payload.hd;\n    }\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":431,"y":384,"wires":[["c9ea6674.f6d5c8"]]},{"id":"a7e53552.1bb868","type":"http in","z":"6915fc32.547964","name":"","url":"/sqljs","method":"get","swaggerDoc":"","x":180,"y":384,"wires":[["6bdb0b94.d6baa4"]]},{"id":"dbd6414a.5fe32","type":"http response","z":"6915fc32.547964","name":"","x":808,"y":384,"wires":[]},{"id":"c9ea6674.f6d5c8","type":"sqljs","z":"6915fc32.547964","mydb":"25e167bc.4d9318","name":"","loging":false,"x":635,"y":384,"wires":[["dbd6414a.5fe32"]]},{"id":"25e167bc.4d9318","type":"sqljsdb","z":"","db":"Northwind.sqlite"}]