flows.json
[{"id":"953a7068.3ec55","type":"function","z":"467d804d.8a9ef","name":"sql query","func":"if(msg.payload.table!==undefined){\n    msg.type='exec';\n    if(msg.payload.count!==undefined){\n        msg.topic=\"SELECT count(*) as count FROM \"+ msg.payload.table;\n        return msg;\n    } else if(msg.payload.schema!==undefined){\n        msg.topic=\"PRAGMA table_info(\"+ msg.payload.table+\")\";\n        return msg;        \n    } else if((msg.payload.limit!==undefined)&&(msg.payload.offset!==undefined)){\n        msg.topic=  \"SELECT ROWID, * FROM \"+ \n                    msg.payload.table+\n                    \" ORDER BY ROWID\"+\n                    \" LIMIT \"+msg.payload.limit+\n                    \" OFFSET \"+msg.payload.offset;\n        return msg;        \n    }else {\n        msg.topic=\"SELECT * FROM \"+ msg.payload.table;\n        return msg;\n    }\n}\nif((msg.payload.query!==undefined)&&(msg.payload.type!==undefined)){\n    msg.topic=msg.payload.query;\n    msg.type=msg.payload.type;\n    if(msg.type==='run'||msg.type==='get'||msg.type==='free' || msg.type==='step' ){\n        msg.hd=msg.payload.hd;\n    }\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":473,"y":261,"wires":[["bc6b999c.70a968","50dd19cb.ba7fb8"]]},{"id":"beb6e260.e63ce","type":"http in","z":"467d804d.8a9ef","name":"","url":"/sqljs","method":"get","swaggerDoc":"","x":274,"y":261,"wires":[["953a7068.3ec55"]]},{"id":"3ca3f0d1.3b172","type":"http response","z":"467d804d.8a9ef","name":"","x":902,"y":261,"wires":[]},{"id":"bc6b999c.70a968","type":"sqljs","z":"467d804d.8a9ef","mydb":"2ce351e6.fb3efe","name":"","loging":true,"x":715,"y":261,"wires":[["3ca3f0d1.3b172"]]},{"id":"50dd19cb.ba7fb8","type":"debug","z":"467d804d.8a9ef","name":"","active":false,"console":"false","complete":"payload","x":669,"y":376,"wires":[]},{"id":"2ce351e6.fb3efe","type":"sqljsdb","z":"","db":"Northwind.sqlite","backend":true}]